@use "../../scss/util" as u;

.layout {
  width: 87.5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  min-height: 250vh;

  &__prime-column {
    flex: 0 0 82.5%;
    width: 82.5%;
  }
}

.hidder {
  width: 100%;
  height: 25px;
  position: sticky;
  z-index: 9;
  top: 0;
  background-color: u.$primary;
}
