@use "../../../scss/util" as u;

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__thumb {
    height: 75%;
    width: 100%;
    position: relative;

    & div,
    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    & img {
      object-fit: cover;
    }

    & div {
      background-color: u.$text-primary;
      opacity: 0;
      z-index: 1;
      transition: opacity 0.3s ease;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:hover &__thumb div {
    opacity: 0.2;
  }

  &:first-child {
    & .display__titles {
      & p {
        color: u.$grey-additional;
      }

      & h5 {
        font-size: u.rem(20px);
      }
    }

    & .display {
      height: 12.5%;
    }

    & .card__thumb {
      height: 97.5%;
    }
  }
}

.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25%;
  background-color: u.$blue-additional;
  padding: u.em(12px) u.em(20px);

  &__titles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 68.5%;

    & h5 {
      color: u.$text-primary;
      text-transform: uppercase;
      font-size: u.rem(17.5px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & p {
      color: u.$red-additional;
      font-size: u.rem(12px);
      font-weight: 300;
    }
  }

  &__pricing {
    display: flex;
    justify-content: center;
    width: fit-content;
    height: 100%;
  }

  &__discount {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;

    background-color: u.$labels-shader2;
    border: u.$labels-shader2 1px solid;

    & p {
      font-size: u.rem(20px);
      font-weight: 700;
      color: u.$labels-shader3;
      letter-spacing: u.em(0.5px, 20px);
      padding: 0 u.em(10px, 20px);
    }
  }

  &__prices {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: fit-content;
    padding: 0 u.em(15px, 20px);
    position: relative;

    background-color: u.$primary;
    border: u.$primary 1px solid;

    & p {
      height: fit-content;
      width: fit-content;
    }

    & p:first-child {
      font-size: u.rem(11.5px);
      color: u.$text-s-shader1;
      text-decoration: line-through;
      position: absolute;
      top: 0;
      right: u.em(15px);
    }

    & p:nth-child(2) {
      font-size: u.rem(14.5px);
      color: u.$text-primary;
    }
  }
}
