@use "../util" as u;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: u.$font;
  background-color: u.$primary;
}

a,
a:visited,
a:link {
  text-decoration: none;
  color: u.$grey-additional;
}
