$primary: #151634;
$primary-shader1: #1f204d;
$primary-shader2: #525275;

$labels-primary: #64cc41;
$labels-shader1: #57b339;
$labels-shader2: #6ad945;

$text-primary: #fafafa;
$text-secondary: #757d82;
$text-p-shader1: #f2f2f2;
$text-p-shader2: #ffffff;
$text-s-shader1: #5e6569;
$text-s-shader2: #474c4f;

$red-additional: #e64b4b;
$green-additional: #4bffa5;
$blue-additional: #3d3f99;
$grey-additional: #8a8b9a;
