@use "../../../scss/util" as u;

.navigation {
  $font-base: 20px;
  padding: u.em(16px, $font-base) u.em(20px, $font-base);
  gap: u.em(30px, $font-base);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;

  &__home {
    color: u.$red-additional !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: u.em(15px, $font-base);

    & h3 {
      font-size: u.rem($font-base);
      font-weight: 700;
      margin: 0;
    }
  }

  &__link {
    font-size: u.rem($font-base);
    font-weight: 400;
    transition: all 0.2s ease-out;

    &--active {
      color: u.$text-primary !important;
      font-weight: 600;
      transform: none !important;
    }

    &:hover {
      color: u.$text-p-shader1;
      transform: translateY(u.rem(-1.5px));
    }
  }
}
